language: java
sudo: false
notifications:
  email:
    on_success: never
    on_failure: change
cache:
  directories:
       - $HOME/.m2

# use operating systems.
os:
  - linux

jdk:
  - oraclejdk9

addons:
  apt:
    packages:
      - oracle-java9-installer

script:
  - jdk_switcher use oraclejdk9
  - mvn test -f ./pom.xml

after_success:
  - mvn clean test cobertura:cobertura coveralls:report